KEYSTORE_DIR=/some/path

GETH_DATA_DIR=/some/path
GETH_IPC_DIR=/some/path
GETH_MAX_PEERS=50
GETH_CACHE_MB=4096
GETH_CACHE_PERCENT_DB=50
GETH_CACHE_PERCENT_TRIE=25
GETH_CACHE_PERCENT_GC=25
GETH_GC_MODE=full
GETH_ETHASH_CACHESINMEM=2
GETH_ETHASH_CACHESONDISK=3
GETH_DAGS_INMEM=1
GETH_DAGS_ONDISK=2

SWARM_DATA_DIR=/some/path
SWARM_MAX_PEERS=50
SWARM_STORE_SIZE=5000000
SWARM_STORE_CACHE_SIZE=10000

ETH_ACCOUNT=some_account
ACCOUNT_PASSWORD_DIR=/some/dir/containing/file
ACCOUNT_PASSWORD_FILE_NAME=/some/filename/in/above/dir

# A value between 0-5 where 0 is silent and 5 is detailed logging
GETH_LOG_VERBOSITY_LEVEL=3
SWARM_LOG_VERBOSITY_LEVEL=4

# Metrics
INFLUXDB_USERNAME=some_user
INFLUXDB_PASSWORD=some_password
INFLUXDB_DB=ethereum
