ETH_DATA_DIR=/some/path
ETH_ACCOUNT=some_account
ETH_PASSWORD_FILE=/some/file

# A value between 0-5 where 0 is silent and 5 is detailed logging
LOG_VERBOSITY_LEVEL=3

# Metrics
INFLUXDB_DB=ethereum
INFLUXDB_USER=some_user
INFLUXDB_USER_PASSWORD=some_password
