ETH_DATA_DIR=/some/path # Data directory on the host system, where persistent data will be stored
ETH_ACCOUNT=some_account

# Metrics
INFLUXDB_DB=ethereum
INFLUXDB_USER=some_user
INFLUXDB_USER_PASSWORD=some_password
