[submodule "go-ethereum"]
path = go-ethereum
url = https://github.com/ethereum/go-ethereum.git
[submodule "swarm"]
path = swarm
url = https://github.com/ethersphere/swarm.git
[submodule "grafana-provisioning/dashboards/swarm-dashboards"]
	path = grafana-provisioning/dashboards/swarm-dashboards
	url = https://github.com/ethersphere/grafana-dashboards.git
[submodule "bee"]
	path = bee
	url = git@github.com:ethersphere/bee.git
